@model PostgreSQLVisual.Models.SensorData

@{
    ViewData["Title"] = "Sensor Data Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Sensor Data</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            MtName
        </dt>
        <dd class="col-sm-10">
            @Model.MtName
        </dd>
        <dt class="col-sm-2">
            MtValue
        </dt>
        <dd class="col-sm-10">
            @Model.MtValue
        </dd>
        <dt class="col-sm-2">
            MtTime
        </dt>
        <dd class="col-sm-10">
            @Model.MtTime.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
        <dt class="col-sm-2">
            MtQuality
        </dt>
        <dd class="col-sm-10">
            @Model.MtQuality
        </dd>
    </dl>
</div>
